/* This userChrome.css works ONLY macOS. some styles are broken in Other OS (like Windows). */

@-moz-document url("chrome://browser/content/browser.xhtml") {
	/* タブの位置をアドレスバーと入れ替え */
	#navigator-toolbox {
		display: flex;
		flex-direction: column;
	}
	#titlebar {
		order: 2;
	}
	/* ブックマークツールバーを隠す */
	#PersonalToolbar {
		display: none;
	}

	/* タイトルバースケスケに */
	.browser-toolbar, #navigator-toolbox {
		appearance: auto !important;
	}
	#TabsToolbar {
		-moz-default-appearance: -moz-mac-vibrant-titlebar-light !important;
	}
    #nav-bar {
        -moz-default-appearance: -moz-mac-vibrant-titlebar-light !important;
	}
	#TabsToolbar:-moz-lwtheme-brighttext {
		-moz-default-appearance: -moz-mac-vibrant-titlebar-dark !important;
	}
    #nav-bar:-moz-lwtheme-brighttext {
        -moz-default-appearance: -moz-mac-vibrant-titlebar-dark !important;
    }
    :root {
        background: transparent !important;
	}
	/* 非アクティブタブのタイトルの色を変更 */
    #TabsToolbar:not(:-moz-lwtheme) {
        color: black !important;
	}
	/* 信号機ボタンを上に持ってくる */
	#TabsToolbar > .titlebar-buttonbox-container {
		margin-top: -74px;
	}
	html[tabsintitlebar="true"]:not([OSXLionFullscreen]) #nav-bar {
        padding-left: 76px;
    }
	/* 信号機ボタンをズラしてできた隙間を埋める */
	html[tabsintitlebar="true"]:not([OSXLionFullscreen]) #TabsToolbar > .toolbar-items {
		margin-left: -66px;
	}
	#TabsToolbar > .titlebar-spacer {
		width: 0px !important;
	}
	/* タブ間ボーダーを消す */
	.titlebar-spacer[type="pre-tabs"] {
		border-inline-end: none !important;
	}

	/* サイドバーのヘッダーを小さく */
    #sidebar-header {
        font-size: 1em !important;
        padding: 0 !important;
    }
    
    
    /* タブ間borderを消す */
	.tabbrowser-tab::after {
		border-left: none !important;
	}

    /* アドレスバーの背景透過 */
    #urlbar:not([open]) #urlbar-background {
        opacity: 0.4;
    }
}